html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}

@font-face {
  font-family: dopeFont;
  src: url("../Gloss_And_Bloom.ttf");
}

* {
  box-sizing: border-box;
}

body {
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow: hidden;
}

h1 {
  font-size: 2em;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

aside p {
  margin-top: -.5rem;
}

aside h1:first-of-type {
  z-index: 3;
}

aside .background span {
  font-family: "dopeFont";
  font-size: 3rem;
  display: block;
  position: absolute;
  top: -32px;
  left: -20px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  z-index: 0;
}

h2 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

aside section {
  /* top: 0;  */
  background: #0b132b;
  /* position: absolute;
    left: 0; */
  height: 100%;
  position: absolute;
  width: 40vw;
  left: 0;
  top: 0;
  pointer-events: none;
  color: #ffffff;
}

aside section > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

aside section > div > div {
  display: flex;
  width: 60%;
  height: 75%;
  flex-wrap: wrap;
  position: relative;
}

.main-content {
  height: 100%;
}

.main-content ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.grid {
    background: url("../images/grid.png");
    height: 1em;
    width: 1em;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: .13rem;
    margin-top: .2rem;
    transition: 200ms;
    cursor: pointer;
}

.grid:hover {
  transform: scale(1.1);
}

.line {
    width: 1rem;
    height: .2rem;
    background: #ffffff;
    margin-right: 1rem;
}

a {
    text-decoration: none;
}
.main-content ul li {
    pointer-events: all;
    width: 15em;
}

.main-content ul a span {
  pointer-events: all;
  /* color: #ffffff; */
  text-decoration: none;
  opacity: 0;
  transition: 0.25s ease;
}

.main-content ul a:hover span {
  opacity: 1;
}

.main-content ul a .line {
    transition: .2s ease;
}

.main-content ul .active a .line,
.main-content ul a:hover .line {
    transform: scale(2, 1);
    margin-right: 2rem;
    transform-origin: 0%;
  }

.main-content ul li.active a span {
  opacity: 1;
  font-weight: 700;
}

.main-content ul li a {
    display: flex;
    align-items: center;
}

.bg-img {
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-destination: 100% 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #0b132b;
  margin-right: -20px;
}

.bg-img h2,
.bg-img p {
  opacity: 0;
}

.bg-img > section {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-coordinate: 100% 100%;
}

.bg-img #section1 .bg-img-content {
  background: url("../images/afbeelding1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right
  
}

.bg-img #section2 .bg-img-content {
  background: url("../images/afbeelding2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img #section3 .bg-img-content {
  background: url("../images/afbeelding3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
}

.bg-img #section4 .bg-img-content {
  background: url("../images/afbeelding4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img #section5 .bg-img-content {
  background: url("../images/afbeelding5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-img-content {
  width: 55vw;
  position: absolute;
  right: -16px;
  /* background: purple;  HERE GOES BACKGROUND*/
  height: 100%;
}

/* .bg-img-content:last-of-type {
  height: 110vh;
} */

.first {
  animation-delay: 0;
}

.second {
  animation-delay: 0.3s;
}

.third {
  animation-delay: 0.55s;
}

.animated.up {
  animation-duration: 0.4s;
  transition: ease;
}

.section2 {
  color: #13b0cc;
}

.section1 {
  color: #df5028;
}

.section3 {
  color: #cd1330;
}

.section4 {
  color: #ecaf2a;
}

.section5 {
  color: #1342af;
}

button {
  pointer-events: all;
  cursor: pointer;
}

.active .line.section1 , 
li:hover .line.section1 , 
button.section1 {
  background: linear-gradient(to right, #df5028, #e47729);
}

li:hover .line.section2 , 
.active .line.section2 ,
button.section2 {
  background: linear-gradient(to right, #13b0cc, #2b3da3);
}

li:hover .line.section3 , 
.active .line.section3 , 
button.section3 {
  background: linear-gradient(to right, #ce0a2f, #ca4837);
}

li:hover .line.section4 , 
.active .line.section4 , 
button.section4 {
  background: linear-gradient(to right, #f68f31, #e2cb23);
}

li:hover .line.section5 , 
.active .line.section5 , 
button.section5 {
  background: linear-gradient(to right, #011d6e, #266dfb);
}

aside button {
  border: 0;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  /* transition: all 200ms ease-in; */
  transition: transform 0.5s ease 0s;
  pointer-events: all;
}

aside button div {
  background: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

aside .second {
  min-height: 6em;
  line-height: 1.3em;
}

.intro {
  height: 100vh;
  width: 100vw;
  background: #0b132b;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 2.5s;
  pointer-events: all;
  color: #ffffff;
  display: flex; 
  align-content: center;
  justify-content: center; 
}

.intro .flex {
  display: flex;
  width: 65%;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.flex > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img {
  height: 55%;
  margin: 2em;
  padding-top: 2em;
}

.gridModal {
  transform: translateX(-100vw);
  height: 100vh;
  width: 100vw;
  background: #0b132b;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 2.5s;
  pointer-events: all;
  transition: 500ms;
}

.gridModal.active {
  transform: translateX(0);
  display: flex;
  align-items: flex-end;
}

.gridModal.active .container {
  display: flex;
  width: 75vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.gridItem {
  height: 50%;
  width: 33%;
  color: white;
  padding: 0.5rem;
}

.gridItem a {
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}

.gridItem a p {
  opacity: 0;
  position: absolute;
}

#gsection1 > a {
  background: url("../images/afbeelding1.png");
  background-size: cover;
}

#gsection2 > a {
  background: url("../images/afbeelding2.png");
  background-size: cover;
}

#gsection3 > a {
  background: url("../images/afbeelding3.png");
  background-size: cover;
}

#gsection4 > a {
  background: url("../images/afbeelding4.png");
  background-size: cover;
  background-position: bottom;
}

#gsection5 > a {
  background: url("../images/afbeelding5.png");
  background-size: cover;
}

.intro p {
  width: 100%;
  margin: 1em auto;
}

.intro img {
  height: 25em;
  width: auto;
}


.intro p span {
  font-weight: 300;
  font-size: .9rem;
  font-style: italic;
} 

 button.cta {
  background: url('../images/arrow-right.svg') , linear-gradient(to bottom, #df5028, #e47729);
  background-repeat: no-repeat;
  background-size: 15%, 100%;
  background-position-x: 9.5em , 0;
  background-position-y: center, center;
  border: 0;
  padding: .9rem 1.5rem;
  color: #ffffff;
  width: 12em;
  font-size: 1.2rem;
  margin-top: 1em;
  border-radius: 4px;
 }

 .scrollIndicator {
   height: 10em;
 }

 .scrollIndicator div {
   background: url("../images/paws2.gif");
   background-size: contain;
   background-repeat: no-repeat;
   width: 3.5rem;
   height: 4.5rem;
   transform: rotate(180deg);
   position: absolute;
   bottom: 1em;
 }

 .special {
   transition: max-width 200ms ease-in-out;
   max-width: 10em;
 }

 .special:hover {
  /* transform: scale(2, 3); */
  /* max-width: 10em; */
  border-radius: 500px;
  max-width: 100%;
  /* padding: 19px 56px 21px; */
 }

 header {
   position: absolute;
   width: 80vw;
   left: 0;
   top: 0;
   z-index: 99;
   padding: 1em;
 }

 @media (max-width: 840px) {
  aside section > div > div {
    width: 70%;
  }

 aside section {
    width: 50vw;
  }
 }

 @media (max-width: 480px) {
  aside section > div {
    height: auto;
  }

   aside section {
    height: 55%;
    width: 100vw;
   }

   aside section > div > div {
    width: 80%;
    margin: 6em 0 0 0;
  }

  aside section > div {
    height: 100%;
  }

  .main-content ul {
    position: fixed;
    bottom: 40px;
  }

  aside .background span {
    /* top: 0px; */
  }

  .bg-img-content {
    width: 100vw;
  }

  .round-btn {
    margin-top: -45px;
  }
 }