<% include partials/head.ejs %>

    <body>

        <header>
        </header>

        <div class="main-content">

            <aside>
                <section>
                    <h1>Principle</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum qui facilis magnam eos rerum fugit nemo incidunt repudiandae laudantium id, enim quidem nihil aspernatur ipsum culpa quam corporis, vel animi.</p>

                    <ul class="nav">
                        <li>
                            <a href="#section1">section 1</a>
                        </li>
                        <li>
                            <a href="#section2">section 2</a>
                        </li>
                        <li>
                            <a href="#section3">section 3</a>
                        </li>
                    </ul>
                </section>
            </aside>

            <div class="bg-img">
                <section class="section-name" id="section1">
                    <h2>BG1</h2>
                </section>

                <section class="section-name" id="section2">
                    <h2>BG2</h2>
                </section>

                <section class="section-name" id="section3">
                    <h2>BG3</h2>
                </section>
            </div>

        </div>

        <script rel="script" src="/js/script.js"></script>

    </body>

    </html>