<% include partials/head.ejs %>

    <body>

        <header>
        </header>

        <div class="main-content">
            <aside>
                <section class="">
                    <h1 class="animated up">Principle</h1>
                    <p class="animated up">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum qui facilis magnam eos rerum fugit nemo incidunt repudiandae laudantium id, enim quidem nihil aspernatur ipsum culpa quam corporis, vel animi.</p>

                    <ul class="nav">
                        <li class="animated">
                            <a href="#section1">section 1</a>
                        </li>
                        <li class="animated">
                            <a href="#section2">section 2</a>
                        </li>
                        <li class="animated">
                            <a href="#section3">section 3</a>
                        </li>
                        <li class="animated">
                            <a href="#section4">section 4</a>
                        </li>
                        <li class="animated">
                            <a href="#section5">section 5</a>
                        </li>
                    </ul>
                </section>
            </aside>

            <div class="bg-img">
                <section class="section-name" id="section1">  
                    <div class="bg-img-content">
                        <h2>BG1</h2>
                    </div>
                </section>

                <section class="section-name" id="section2">
                    <div class="bg-img-content">
                        <h2>BG2</h2>
                    </div>
                </section>

                <section class="section-name" id="section3">
                    <div class="bg-img-content">
                        <h2>BG3</h2>
                    </div>
                </section>

                <section class="section-name" id="section4">
                    <div class="bg-img-content">
                        <h2>BG4</h2>
                    </div>
                </section>

                <section class="section-name" id="section5">
                    <div class="bg-img-content">
                        <h2>BG5</h2>
                    </div>
                </section>           
            </div>
        </div>

        <script rel="script" src="/js/script.js"></script>

    </body>

    </html>