html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
}

body {
    max-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 2em;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

aside section {
    /* top: 0;  */
    background: #0b132b;
    /* position: absolute;
    left: 0; */
    height: 100%;
    position: absolute;
    width: 55vw;
    left: 0;
    top: 0;
    pointer-events: none;
    color: #ffffff;
}

.main-content {
    height: 100%;
    /* display: flex; */
}

.main-content ul {
    list-style-type: none;
}

.main-content ul a {
    pointer-events: all;
    /* color: #ffffff; */
    text-decoration: none;
    opacity: 0;
}

.main-content ul a:hover {
    opacity: 1;
    color: pink;
}

.main-content ul li a.active {
    opacity: 1;
    color: pink;
}

.bg-img {
    position: relative;
    z-index: -1;
    height: 100%;
    width: 100%;
	scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100%);
    scroll-snap-destination: 100% 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.bg-img h2,
.bg-img p {
    opacity: 0;
}

.bg-img > section {
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-coordinate: 100% 100%;
}

.bg-img #section1 {
    background: url('/images/afbeelding 1.png');
    background-repeat: no-repeat;
}

.bg-img #section1 .bg-img-content {
    background: url('/images/afbeelding 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img #section2 {
    background: red;
}

.bg-img #section2 .bg-img-content {
    background: url('/images/afbeelding 2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img #section3 {
    background: grey;
}

.bg-img #section3 .bg-img-content {
    background: url('/images/afbeelding 3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img #section4 {
    background: grey;
}

.bg-img #section4 .bg-img-content {
    background: url('/images/afbeelding 4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img #section5 {
    background: grey;
}

.bg-img #section5 .bg-img-content {
    background: url('/images/afbeelding 5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-content {
    width: 45vw;
    position: absolute;
    right: -16px;
    /* background: purple;  HERE GOES BACKGROUND*/
    height: 100%;
}